<p style="color: green"><%= notice %></p>

<div class="container">

  <h1>Vos Duckmons</h1>

  <%= link_to "Nouvelle carte", new_card_path, class: "btn btn-primary" %>


  <div class="row">
    <% @cards.each do |card| %>
      <div class="col-lg-4">
          <%= render card %>
          <div class="card-body">
            <p>
              <%= link_to "Montrer la carte", card, class: "btn_show" %>
            </p>
          </div>


      </div>
    <% end %>
  </div>

</div>
