<p style="color: green"><%= notice %></p>

<h1>Cards</h1>

<div class="container">
  <div class="row">
    <% @cards.each do |card| %>
      <div class="col-lg-4">
          <%= render card %>
          <div class="card-body">
            <p>
              <%= link_to "Montrer la carte", card, class: "btn btn-success" %>
            </p>
          </div>


      </div>
    <% end %>
  </div>
  <%= link_to "Nouvelle carte", new_card_path %>
</div>
