<p style="color: green"><%= notice %></p>

<div class="container">

  <h2>Le Pokeduck</h2>

  <p>
    Dans un monde fantastique appelé Ducklandia, une légende raconte l'histoire des Duckmons, de puissantes créatures dotées de pouvoirs magiques.
    Ces Duckmons sont les gardiens de la paix et de l'équilibre dans Ducklandia.
  </p>

  <%= link_to "Nouvelle carte", new_card_path, class: "btn btn-primary" %>


  <div class="row ">
    <% @cards.each do |card| %>
      <div class="col-lg-4">
          <%= render card %>
          <div class="card-body card_button_show">
            <p>
              <%= link_to "Montrer la carte", card, class: "btn_show" %>
            </p>
          </div>


      </div>
    <% end %>
  </div>

</div>
