<p style="color: green"><%= notice %></p>

<div class="container">

  <h2>C'est quoi les Duckmons</h2>

  <div class="presentation">

    <p>
    Dans un monde fantastique appelé, Ducklandia, une légende raconte l'histoire des Duckmons,
    de puissantes créatures dotées de pouvoirs magiques. Ces Duckmons sont les gardiens de la paix
    et de l'équilibre dans Ducklandia. De tout type et de toutes taille, ils s’engagent dans des batailles
    épiques pour chaque miette de pain symbole de richesse et de survie dans ce monde. Tout commença par
    la découverte d’une terre cachée l’intérieur d’une montagne. Cette terre avait une météo propre et le plus
    intéressant se trouvait en ce qui l’habitait. Des êtres, rapidement appelés des duckmons le peuplait. Ils
    avaient des capacités encore inconnues par les êtres humains, ils étaient capables de cracher du feu, former
    des boules d’eau ou encore d’envoûter d’autre créature. Très rapidement, les aventuriers du monde entier se
    lassèrent à leur poursuite pour en apprendre le plus possible et de découvrir de potentiels trésors cachés.
    </p>

    <img src="https://cdn.discordapp.com/attachments/1209826826487210005/1210266015594844160/Group_37.png?ex=65e9ef0f&is=65d77a0f&hm=2a63eb6b45c13e0b828ce2dce524b7d80daaa478bbd3f42d18e85f7540a765bf&" alt="two cards">

  </div>

  <h2>Le Pokeduck</h2>

  <%= link_to "Nouvelle carte", new_card_path, class: "btn btn-primary btn_create" %>


  <div class="row ">
    <% @cards.each do |card| %>
      <div class="col-lg-4">
          <%= render card %>
          <div class="card-body card_button_show">
            <p>
              <%= link_to "Montrer la carte", card, class: "btn_show" %>
            </p>
          </div>


      </div>
    <% end %>
  </div>

</div>
