/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .card{
  border: #000000 solid 7px;
  border-radius: 10%;
  height: 500px;
  margin-bottom: 2%;
 }

.top_card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.navbar a{
  color: white
}

.card-img-top{
  border-radius: 10% 10% 0 0;
  object-fit: cover;
  border-bottom: black 5px solid;


}

footer{
  width: 100%;
  background-color: black;
  height: 15vh;
}

.btn{
  margin-bottom: 2%;
}

h1{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.create_form{
display: flex;
  justify-content: center;
}

.health{
  position: absolute;
  right: 0;
  margin-right: 2px;
  background-color: white;
  padding: 4px;
  border-radius: 0px 60% 0px 60%;

;
}
